#blocks
{
	width: 54%;
	margin-top:-31px;
	margin-left:263px; 
	background-color:#f5f5f5;
}
#category
{
	margin-left: 263px; color: #c07003 ;margin-bottom: 1px;
}
#header
{
    position: fixed;
    
    height:50px;
    width: 65%;
    margin-top: 0px;
    background-color:#a4d5d3;
    margin-bottom: 50px;
    }
a:hover {
    font-weight: bold;
}
img:hover{
	background-color:#dcf1f1;
}

#name {
    float:left;
	margin-left: 20px;
	padding-bottom: 10px;
	font-size: 20px;
	font-family: Verdana, sans-serif;
	color: #575757;
}


#email{
    float:right;
    margin-right: 20px;
	padding-bottom: 10px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
	
}
#edu
{
 	font-family: calibri;
 	font-size:19px;
 	padding-left:12px;
 	margin-bottom:-6px;
 	font-weight: bold;	
 	color:#1e3942;
}
